server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tailor_managements
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
open:
  api:
    title: "CATALOG_SERVICE"
    version: "v1.0.0"
    description: "manage category, fabric, products"
    url: "http://localhost:8081"
    description-server-url: "server-dev"